extends layout

block content
  include includes/header.pug
  main
    .container
      .row.justify-content-center
        .col-md-8.col-lg-6.py-5
          form(method="POST").p-4.border.bg-info.text-white
            h1.text-center Sign In
            .form-group
              label(for="name-input") Name
              input(id="name-input" type="text" name="name").form-control
            .form-group
              label(for="password-input") Password
              input(id="password-input" type="password" name="password").form-control
            .d-md-flex.justify-content-md-between
              button(type="submit").btn.btn-outline-light Login
              a(href="/regist").btn.btn-light Sign Up